* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 60vw;
    margin: auto;
    background: white;
    padding: 10px;
    background-color: brown;
}

h1, h2 {
    text-align: center;
}


#weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#temperature {
    cursor: alias;
}

.wrapper {
    width: 150px;
    padding: -50px;
    margin-top: -50px;
}


.nasa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid yellow;
}
.item {
    /* flex-grow: 1; */
    border: 5px solid green;
}

.break {
    flex-basis: 100%;
    border: 5px solid purple;
  }

.hidden {
    display: none;
}

img {
    max-width: 50vw;
}

.nasa-data {
    align-items: center;
    align-content: center;
}

#nasa-search-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    border: 2px solid red;
    /* align-items: center;
    justify-content: center; */
    
}


.imgsNASA {
    width: 10vw;
    height: 25vh;
}