* {
  margin: 0;
  padding: 0;
}

/* background animation styles starts here 
Courtesy Carla-Codes Github
*/

@keyframes twinkle-effect {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
position:absolute;
width:100%;
height:100%;
display:block;
overflow: scroll;
}

.stars {
background:#000 url(./public/image/stars.png) repeat top center;
}

.twinkling{
background:transparent url(./public/image/twinkling.png) repeat top center;
animation: twinkle-effect 200s linear infinite;
} 


/* styling for the buttons 
courtesy:  getcssscan*/

button {
  background-image: linear-gradient(124deg,#ae4e4e,#0a26f8);
  box-shadow: rgba(151, 65, 252, 0.2) 0 10px 10px 10px;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
}
  
button:hover {
    box-shadow: none;
}
  
button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  transition: 300ms;
}
  
button:hover span {
  background: none;
}
 

/* main container in the center */
.container {
  max-width: 85vw;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* welcome screen starts here */
header {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

#weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#temperature {
  cursor: alias;
}

/* to wrap the svg icon */
/* courtesy Bas Milius */
.wrapper {
  width: 150px;
  padding: -20px;
  margin-top: -25px;
}

/* NASA APOD screen starts here */

#astronomy-question {
  margin-top: 30vh;
  padding: 20px;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.nasa-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#apod {
  width: 60vw;
  height: auto;
}

.reaction p, .explanation-p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 2vw;
  line-height: 24px;
  
}


/* NASA database screen  */

#to-database {
  margin-left: auto;
  margin-right: auto;
}

.nasa-images {
  width: 100%;
}

.search-box {
  display: flex;
  align-items: stretch;
  width: 30vw;
  margin: 0px auto;
}

.search-query,
#search-btn {
  width: 100%;
}

.search-query {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  color: #fff;
  outline: 0;
  background-color: #000;
  border-color: purple;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#search-btn {
  border-radius: 0;
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  display: block;
}

#search-btn:hover {
  background-image: linear-gradient(124deg,#ae4e4e,#0a26f8);
}

.search-area {
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  transition: 300ms;
  box-shadow: none;  
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

#nasa-search-results {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  align-items: center;
  justify-content: center;
  
}

.cards {
  width: 33%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgsNASA {
  width: 15vw;
  height: auto;
}

#back-home {
  display: flex;
  margin: 20px auto;
}